@font-face {
  font-family: "Articulat CF Regular";
  src: url("./fonts/ArticulatCF-Regular.otf"), format(otf);
}

* {
  font-family: Articulat CF;
}

.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-color: #17223b;
  display: flex;
  align-items: center;
  font-family: "Articulat CF Regular";
}

.sidebar {
  width: 21vw;
  height: 96.5vh;
  background-color: #263859;
  border-radius: 25px;
  margin-left: 1vw;
}

.maincontainer {
  display: flex;
  flex-direction: column;
  width: 81vw;
  height: 96.5vh;
  background-color: #263859;
  border-radius: 25px;
  margin: 1vw;
  align-items: flex-start;
}

.AuthHeader {
  width: 100vw;
  height: 100vh;
  background-color: aqua;
}

.account {
  display: flex;
  margin: 30px;
  align-items: center;
}

.accountheader {
  color: white;
  font-weight: 400;
  justify-self: start;
  margin-left: 25px;
  font-size: 24px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: 0.5px;
}

#accImg {
  width: 64px;
  height: 64px;
}

.break {
  width: 17vw;
  height: 5px;
  background-color: white;
  border-radius: 2.5px;
  margin: auto;
  margin-bottom: 0.7vh;
  color: #263859;
}

.sidecontent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3vh;
}

.panel {
  width: 18vw;
  height: 20vh;
  background-color: #dfeff0;
  border-radius: 25px;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.panelheader {
  font-weight: 600;
  font-size: 32px;
  text-align: left;
  padding: 5px 0 15px 30px;
  margin-bottom: 0;
}

.sidemenu {
  display: flex;
  flex-direction: column;
  width: 18vw;
  margin: auto;
  margin-top: 15px;
  justify-content: center;
  height: 8vh;
}

.menuitem {
  display: flex;
  margin: 10px;
  margin-bottom: 5px;
  margin-top: 2.5px;
  align-items: center;
}

.sidemenuicon {
  width: 15px;
  height: 15px;
  margin-right: 15px;
}

.sidemenup {
  font-size: 20px;
  color: white;
  margin: 0;
}

.panelitem {
  font-size: 14px;
  font-weight: 300;
  margin: 0;
  padding-left: 30px;
  margin-bottom: 5px;
}

.containerheader {
  font-size: 64px;
  font-weight: 500;
  color: white;
  margin: 0;
  margin-left: 60px;
  margin-top: 45px;
  margin-bottom: 20px;
}

.mainpanel1 {
  margin: 20px;
  width: 75vw;
  height: 42vh;
  background-color: #576c96;
  border-radius: 25px;
}

.mainpanelscont {
  display: flex;
}

.bottompanel {
  width: 37vw;
  height: 38vh;
  background-color: #576c96;
  border-radius: 25px;
  margin: 20px;
  margin-top: 0;
  margin-right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.bottomh {
  font-size: 32px;
  font-weight: 500;
  color: white;
  margin: 0;
  margin-left: 50px;
  margin-top: 35px;
  letter-spacing: 0.5px;
}

.fullpage {
  width: 100vw;
  height: 100vh;
}

.inlinewords {
  display: flex;
  width: 275px;
  position: relative;
  align-items: center;
  margin: 15px 0 0 0;
}

.bottomimg {
  width: 45px;
  height: 45px;
  /* border-radius: 15px; */
}

.bottomword {
  text-align: left;
  font-family: Articulat CF;
  letter-spacing: 0.5px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #ffffff;
  margin: 0 0 0 20px;
}

.radioicon {
  position: absolute;
  right: 0;
  width: 24.21px;
  height: 24.21px;
  border-radius: 3.5px;
  filter: invert(100%);

  /* white radio buttons */
}

.habitscontainer {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  margin-top: -15px;
}

.right {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-left: 35px;
}

.left {
  width: 50%;
  margin-left: 50px;
}

.goalscontainer {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  margin-top: -15px;
}

.input {
  border: none;
  width: 265px;
  height: 50px;
  margin-top: 5px;
  background-color: rgba(223, 239, 240, 0.75);
  border-radius: 15px;
}

.sep {
  position: absolute;
  height: 240px;
  width: 5px;
  border-radius: 2.5px;
  background-color: white;
  border: none;
  justify-self: center;
  align-self: center;
}

/* ####################### REGISTER AND LOGIN ########################## */

.acont {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ctsplit {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  bottom: 0;
  width: 1400px;
  height: 75vh;
  margin: auto;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
}

.formcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  justify-self: center;
  align-self: center;
}

.formttl {
  font-size: 36px;
  margin-bottom: -5px;
  font-family: Articulat CF;
}

.formsub {
  font-size: 16px;
  font-family: Articulat CF Medium;
}

.asc2 {
  width: 100%;
  height: 100%;
  background: url("./img/temp.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 0 25px 25px 0;
}

.field {
  height: 60px;
  border-radius: 15px;
  margin: 10px 0 10px 0;
  padding: 0 0 0 25px;
  background-color: #f0f0f0;
  border: none;
}

.field::placeholder {
  font-family: Articulat CF Medium;
  color: #c7c7c7;
}

.registerbtn {
  background-color: #ff6768;
  height: 60px;
  border-radius: 30px;
  border: none;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
  color: white;
  font-size: 20px;
  letter-spacing: 0.5px;
  z-index: 10;
  margin-top: 20px;
}

.back {
  position: absolute;
  display: flex;
  height: 100vh;
  left: 3.5vw;
  align-items: center;
}

.loginbtn {
  background-color: #ff6768;
  height: 60px;
  border-radius: 30px;
  border: none;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
  color: white;
  font-size: 20px;
  letter-spacing: 0.5px;
  z-index: 10;
  margin-top: 20px;
}

/*  */

.changescreen {
  display: flex;
  font-size: 16px;
  font-family: Articulat CF Regular;
  align-items: center;
}

.formsub2 {
  font-size: 16px;
  font-family: Articulat CF Regular;
  text-decoration: none;
  color: blue;
}

.formcontainer label {
  font-family: Articulat CF Medium;
  letter-spacing: 0.5px;
}
