.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-color: #17223b;
  display: flex;
  align-items: center;
}

.sidebar {
  width: 20vw;
  height: 95vh;
  background-color: #263859;
  border-radius: 25px;
  margin-left: 1vw;
}

.maincontainer {
  width: 80vw;
  height: 95vh;
  background-color: #263859;
  border-radius: 25px;
  margin: 1vw;
}
